.-slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:gray;
    padding:0 35px;
}

.-wrapper{
    max-width: 1200px;
    position:relative;
}

.-wrapper i{
    top:50%;
    position:absolute;
    background:rgb(14, 13, 13);
    transform: translateY(-50%);
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
}

.-wrapper i:first-child{
    left:-23px;
}

.-wrapper i:last-child {
    right:-23px;
}

.-wrapper .-caroulsel {
    overflow:hidden;
    cursor: pointer;
    font-size: 0;
   white-space: nowrap; 
}

.-caroulsel img{
    height:340px;
    object-fit: cover;
    width:calc(100% / 3);
    margin-left:14px;
}

.-caroulsel img:first-child{
    margin-left:0;
}

@media screen and (max-width: 900px){
    .-caroulsel img{
        width: 100%;
    }
}


