.-slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:gray;
    padding:0 10px;
}

.-wrapper{
    max-width: 1200px;
}

.-wrapper .-caroulsel {
    overflow:hidden;
    cursor: pointer;
    font-size: 0;
   white-space: nowrap; 
}

.-caroulsel img{
    height:340px;
    object-fit: cover;
    width:calc(100% / 3);
    margin-left:14px;
}

.-caroulsel img:first-child{
    margin-left:0;
}


